<div>
  <header class="page-header">
    <div class="page-header__title">
      <h1>Direccionamiento de agrupacion</h1>
    </div>
    <div class="page-header__next-btn">
      <a href="#example-9">Siguiente</a>
    </div>
  </header>

  <canvas id="lienzo"></canvas>
  <div class="controls">
    <div id="show_fps">FPS: 60</div>
    <input value="60" id="fps_ctrl" valueAsNumber type="range" min="0" max="60" />

    <div id="show_max_velocity">Max velocity: 40</div>
    <input id="max_velocity_ctrl" valueAsNumber step="0.01" type="range" min="40" max="60" />

    <div id="show_max_force">Max force: 0.6</div>
    <input id="max_force_ctrl" valueAsNumber step="0.01" type="range" min="0.1" max="0.8" />

    <div id="spaceships_counter">Spaceships counter: </div>
    <div id="spaceships_overlap">Spaceships overlap: </div>

    <br>
    <input type="checkbox" id="debug">
    <label for="debug">DEBUG</label>
    <br>
  </div>
</div>