<div>
  <canvas id="lienzo"></canvas>
  <div class="controls">
    <div class="show_fps">FPS: 60</div>
    <input value="60" id="fps_ctrl" type="range" min="0" max="60" />

    <div class="show_amplitude">Longitud: 0.05</div>
    <input value="0.05" id="amplitude_ctrl" type="range" step="0.001" min="0" max="0.05" />

    <div class="show_frecuencia">Frecuencia: 1.5</div>
    <input value="1.5" id="frecuencia_ctrl" type="range" step="0.01" min="0" max="1.5" />
    <br>
    <input type="checkbox" id="debug">
    <label for="debug">DEBUG</label>
  </div>


</div>