<div>
  <header class="page-header">
    <div class="page-header__title">
      <h1>Fuerzas complementarias</h1>
    </div>
    <div class="page-header__next-btn">
      <a href="#example-4">Siguiente</a>
    </div>
  </header>

  <canvas id="lienzo"></canvas>
  <div class="controls">
    <div class="show_fps">FPS: 60</div>
    <input value="60" id="fps_ctrl" type="range" min="0" max="60" />

    <div id="show_left">Left force: 50</div>
    <input value="50" id="left_ctrl" step="0.01" valueAsNumber type="range" min="40" max="50" />

    <div id="show_right">Right force: 50</div>
    <input value="50" id="right_ctrl" step="0.01" valueAsNumber type="range" min="40" max="50" />

    <div id="show_top">Top force: 50</div>
    <input value="50" id="top_ctrl" step="0.01" valueAsNumber type="range" min="40" max="50" />

    <div id="show_bottom">Bottom force: 50</div>
    <input value="50" id="bottom_ctrl" step="0.01" valueAsNumber type="range" min="40" max="50" />
    <br>
    <input type="checkbox" id="debug">
    <label for="debug">DEBUG</label>

  </div>
</div>