<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" type="text/css" href="/app.css">
  <title>Autonomus agents with javascript</title>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://turbo.github.io/js/turbo.js"></script>

</head>

<body class="cover-full-screen wrap-canvas">
  <div id="App"></div>
  <script src="/bundle.js"></script>
</body>

</html>