<div>
  <ol>
    <li>
      <a href="#example-1" target="_blank">Generacion de agente</a>
    </li>
    <li>
      <a href="#example-2" target="_blank">Movimiento senoidal</a>
    </li>
    <li>
      <a href="#example-3" target="_blank">Fuerzas complementarias</a>
    </li>
    <li>
      <a href="#example-4" target="_blank">Movimiento con masa</a>
    </li>
    <li>
      <a href="#example-5" target="_blank">Deteccion de coliciones</a>
    </li>
    <li>
      <a href="#example-6" target="_blank">Persecucion de objetivos</a>
    </li>
    <li>
      <a href="#example-7" target="_blank">Aplicando fuerzas de steering</a>
    </li>
    <li>
      <a href="#example-8" target="_blank">Simulacion de ambiente depredador y presa</a>
    </li>
  </ol>
</div>