.cover-full-screen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
}

.wrap-canvas {
  canvas  {
    background: black;
  }    
}

.wrap-controls {
  grid-area: 3/2;
  justify-self: center;
  align-self: center;
}

.wrap-controls button {
  width: 110px;
  height: 50px;
}

.controls {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
}

#show_left {
  color: red;
}

#show_right {
  color: blue;
}

#show_top {
  color: green;
}

#show_bottom {
  color: pink;
}